<html>
<head>
    <link rel="stylesheet"
          href="https://unpkg.com/@universis/theme@1.0.5/css/universis.css"
          integrity="sha384-GcIMWx3Jq0rHFUoV9TxtmxKkYHxwNoaXhDb/sNO7H6s6X34p02LJyfVwnH2B61sl"
          crossorigin="anonymous">
    <style>
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="text-right mb-2">
        <img style="height: 64px" src="https://students.universis.io/assets/img/universis_logo_128_color.png"
             alt="Universis Project Logo">
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Αποστολή δήλωσης εξαμήνου <b><%= model.registrationYear.name %>
                    - <%= model.registrationPeriod.name %></b></h5>
            <p class="card-text">Ολοκλήρωσες με επιτυχία τη δήλωση εξαμήνου σου.</p>
            <h6 class="card-title">
                <span>Ημερομηνία αποστολής:&nbsp;</span><span><%= html.moment(model.registrationDate).locale('el').format('LLL') %></span>
            </h6>
            <p>
                Μη ξεχάσεις να κάνεις και δήλωση μαθημάτων!
            </p>
            <p>
                Με εκτίμηση,
            </p>
            <p>
                Η γραμματεία του τμήματος σας.
            </p>
        </div>
    </div>

</div>


</body>
</html>
